.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(200, 100%, 10%);
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;

  gap: 15px;
  list-style-type: none;
  align-items: center;
}

.big-text {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav .menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  .top-nav .menu {
    display: flex;
  }

  .top-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .top-nav ul.show {
    display: flex;
  }

  .top-nav ul li {
    width: 100%;
    text-align: center;
  }

  .top-nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
